<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/payment_dashboard.css') }}">
    <script type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Payment Dashboard</title>
</head>
<body>
    <nav>     
        <span class="title">
            Payments
        </span>
        <a href="{{ url_for('logout') }}" id="logout"><i class="fa fa-sign-out"aria-hidden="true"></i></a>
    </nav>

    
    <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
    </div>

    <h3 style="color: white;">Students in Your Class</h3>
    <table>
        <thead>
            <tr>
                <th>User USN</th>
                <th>Change Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.usn }}</td>
                <td><a class="icon-btn" href="{{ url_for('change_password', usn=user.usn) }}" style="margin: auto;margin-top: 10px; width: 50%;" >Change Password</a></td>            </tr>
            {% endfor %}

        </tbody>
    </table>
</body>
</html>
